.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: none;
    margin: auto;
}

.strike {
    text-decoration: line-through;
}

/* img {  */
/*   max-width:  100%;  */
/*   display: block; */
/* } */
