.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: none;
    margin: auto;
}


/* Changes to highlighting for input and output of cells */
/* This is for notebooks only */
.highlight  { background: transparent; }
.highlight-python  { background: #eeffcc; }
.highlight-default  { background: #ccc; }

pre {
    background-color: transparent !important;
    border-right: 5px solid #ccc;
    border-left: 5px solid #ccc;
}


/* Numbered equations with numbers to the right */
.math {
    text-align: left;
}
.eqno {
    float: right;
}


/* img {  */
/*   max-width:  100%;  */
/*   display: block; */
/* } */

/* Copied from bootstraps and pandas. Used only in index.html */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-sm-6, .col-md-6, .col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}


.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.text-center {
  text-align: center !important;
}

.intro-card {
  background: #fff;
  border-radius: 0;
  padding: 30px 10px 10px 10px;
  margin: 10px 0px;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


.card a {color: #484848;}

.flex-fill {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.card-title {
  margin-bottom: 0.75rem;
}

.intro-card .card-text {
  margin: 20px 0px;
  /*min-height: 150px; */
}

/* .card-body { */
/*   background-color: #F0F0F0; */
/* } */
