.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: none;
    margin: auto;
}

/* Changes to highlighting for input and output of cells */
.highlight  { background: none; }
.highlight-python  { background: #eeffcc; }
.highlight-default  { background: #ccccee; }


/* img {  */
/*   max-width:  100%;  */
/*   display: block; */
/* } */
